:root {
    --teal: #00A99D;
    --teal-d: #008C7E;
    --white: #ffffff;
    --gray-l: rgb(105, 103, 103);
    --gray-d: rgb(59, 59, 59);
    --black: rgb(0, 0, 0, 0.7);
}

.background-img {
    border: none;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../img/yeatman-studios-background.svg");
    background-color: var(--teal);
    padding: 4px;
}

.yeatman-studios-logo {
    border: none;
    width: 100%;
    padding: 20px;
    margin-top: 3px;
    margin-bottom: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* Navbar styling */

#nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

#nav-list {
    background-color: var(--black);
    border: transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

#nav-list li {
    list-style: none;
    margin: 1.5vw 3vw;
    padding: 5px;
}

.nav-link {
    color: var(--white);
    font-size: 2vw;
    padding: 5px 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.active-link {
    color: var(--teal);
    outline: 1px solid var(--teal);
}

.nav-link:hover {
    color: var(--white);
    outline: 1px solid var(--teal);
}

.ham-bar {
    background-color: var(--white);
    border: transparent;
    border-radius: 8px;
    height: 5px;
    margin: 3px 0;
    width: 35px;
}

#ham-bars-wrapper {
    align-self: flex-start;
    margin-top: 3vh;
}

#ham-bars-wrapper:hover {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    #ham-bars-wrapper {
        display: none;
    }

    #nav-list {
        display: flex !important;
    }
}

@media screen and (max-width: 768px) {

    #nav-bar {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    #nav-list {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    #nav-list li {
        width: 100%;
        margin: 2.5vw 0;
    }

    .nav-link {
        font-size: 3vw;
        text-align: center;
    }

}

/* Service Offerings Styling */

#list-wrapper {
    display: flex;
    justify-content: center;
}

#left-list, #right-list {
    list-style-image: url('../img/hexagon-pngrepo-com.png');
    margin: 2vh 5vw;
}

.offering {
    color: var(--white);
    font-size: 3vw;
    margin: 2vh 0;
    text-shadow: 2px 2px 10px black;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    #list-wrapper {
        margin: 0 0 0 40vw;
        flex-direction: column;
        align-items: flex-start;
    }

    #left-list, #right-list {
        margin: 0;
    }
}

/* Graphics Styling */

.graphics-container {
    display: flex;
    justify-content: center;
}

.gray-placeholder {
    width: 30vw;
    height: 28vh;
    border: 5px solid white;
    background-color: rgb(184, 184, 184);
    border-radius: 10px;
    margin: 2vh 2vw;
}

@media screen and (max-width: 768px) {
    .graphics-container {
        flex-direction: column;
        align-items: center;
    }

    .gray-placeholder {
        width: 90%;
        height: 25vh;
    }
}

/* Description Styling */

.description-container {
    padding: 5vh 5vw;
}

.description {
    font-size: 2.5vw;
    margin: 3vh 0;
}

@media screen and (max-width: 768px) {
    .description {
        font-size: 5vw;
    }
    
}

/* Footer Styling */

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icons-container {
    display: flex;
    flex-direction: row;
    margin: 0 0 3vh 0;
}

footer i {
    color: var(--white);
    font-size: 5vw;
    margin: 0 2vw;
}

@media screen and (max-width: 768px) {

    footer h1 {
        font-size: 5vw;
    }
    
}

/* Graphic Design Page Styling */

.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3vh;
}

.projects-container .gray-placeholder {
    margin: 1vh 1vw;
}

.logo-container {
    display: flex;
    justify-content: center;

}

#smaller-logo {
    width: 50%;
}
